<div class="container">
  <h1>Welcome to <%= application_name %><div style="color:red;font-size:23px;"> loged in as: <%= current_user.email %>! </div> </h2>

<%= form_for Upload.new, url: welcome_upload_path, html: { multipart: true } do |form| %>
  <%= form.file_field :image %>
  <%= form.submit "Upload" %>
<% end %>

<% if @images.present? %>
  <% @images.each do |item| %>
    <%= image_tag item.image(:medium)%>
  <% end %>
<% end %>

</div>
